<form method="post" action="{{ path('pont_delete', {'id': pont.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pont.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
